<p id="notice"><%= notice %></p>

<h1>Useradresses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @useradresses.each do |useradress| %>
      <tr>
        <td><%= link_to 'Show', useradress %></td>
        <td><%= link_to 'Edit', edit_useradress_path(useradress) %></td>
        <td><%= link_to 'Destroy', useradress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Useradress', new_useradress_path %>
