<div class="row site">
    <div class="col-md-1 general_menu inner">
      <a href="#" class="avatar" ng-show="isAuthenticated">
          <%= image_tag "no_ava.png" %>
      </a>
      <ul>
        <!--<li ng-show="isAuthenticated"><a href="#" ng-click="logout()" class="gradientmenu" ng-class="{'active': activemenu === true}"><i class="fa fa-user-times"></i></a></li>--> 
        <li ng-hide="isAuthenticated"><a href="#" ng-click="OpenRegistration(); activemenu = !activemenu" class="gradientmenu" ng-class="{'active': activemenu === true}"><i class="fa fa-user"></i></a></li>
        <li><a href="/" ng-click="MapOpen = !MapOpen" class="gradientmenu" ng-class="{'active': MapOpen === true}"><i class="fa fa-home"></i></a></li>
        <li ng-if="nb_produit > 0" ng-show="isBuyer"><a href="/" ng-click="SeeSearch = !SeeSearch" class="gradientmenu" ng-class="{'active': SeeSearch === true}"><i class="fa fa-sliders"></i></a></li>

        <li ng-show="isSeller && nb_produit > 0"><a href="/" ng-click="OngletCommerce = !OngletCommerce" class="gradientmenu" ng-class="{'active': OngletCommerce === true}"><i class="fa fa-tasks"></i></a></li>

      </ul>
    </div>
    <!--/Entête--> 

    <!--Profile-->
    <div class="col-md-12 profile" ng-class="{'profile_closed': ProfileOpen === true}" ng-show="isAuthenticated" id="profile">
        <span ng-class="{'close_span': ProfileOpen === true, 'open_span': ProfileOpen === false}" id="open_span"><a href="#" ng-click="ProfileOpen =!ProfileOpen" ng-class="{'clooses': ProfileOpen === true}" class="close-profile-link" id="link_open">+</a></span>
        <!--User info-->
        <div class="row">
            <div class="col-md-12">
                <div class="user">
                    <%= image_tag "ava1.png" %>
                    <h2>{{username}}</h2>
                    <br>
                    <div ng-show="isSeller">
                        <ul>
                            <li ng-if="nb_commerce > 0">Nombre de commerces <a href="#"> {{nb_commerce}} commerces</a></li>
                            <li ng-if="nb_produit > 0">Nombre de produits en stock <a href="#">{{nb_produit}} produits</a></li>
                            <li ng-if="nb_commerce == 0"><i>Pas de commerce pour cet utilisateur</i></li>
                        </ul>
                    </div>
                    <div ng-show="isBuyer">
                        <ul>
                            <li ng-if="nb_commerce > 0">Nombre de commerces à proximités <a href="#"> {{nb_commerce}} commerces</a></li>
                            <li ng-if="nb_order > 0">Nombre de commandes passées <a href="#">{{nb_order}} commandes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-danger btn-sm" ng-click="logout()">Sign out</a>
                    <a href="" class="btn btn-sm btn-twitter"> <i class="fa fa-twitter"></i>Login via Twitter</a>
                </div>
            </div>
        </div>
        <!--/User info-->
        <div class="row">
            <!--about-->
            <div class="col-md-7">
                <h2>About me</h2>
                <trix-editor angular-trix ng-model="foo"></trix-editor>
            </div>
            <!--/about-->
            <!--latest tweet-->
            <div class="col-md-5 tweets">
                <h2>Latest tweet</h2>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <i></i></span>
                <div class="tweet_link"><a href="#">@mattew An</a>22.12.2013   23:33</div>
            </div>
            <!--/latest tweet-->
        </div>
        <!--my news-->
        <div class="row">
            <div class="col-md-12 my_news">
                <div class="title_news">
                    <h2>My news</h2>
                </div>
                <!--news-->
                <div class="row news_container">
                    <div class="col-md-8 news">
                        <span class="data">12.11.2020</span><strong>Monde : </strong>Alerte maladie du panama. Les bananes sont en danger "<a href="#">Source AFP</a>"
                    </div>
                    <div class="col-md-8 news">
                        <span class="data">13.11.2020</span><strong>Flop : </strong>Vente en baisse de 10% des pommes de terre sur la semaine.
                    </div>
                    <div class="col-md-8 news">
                        <span class="data">13.11.2020</span><strong>Top : </strong>Vente en hausse de 14% des haricots sur la semaine.
                    </div>
                    <div class="col-md-4 news_user_info">
                        <%= image_tag "no_ava.png" %><a href="#">Mattew An</a>Write a review:
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s<i></i></span>
                        <br />
                    </div>
                </div>
                <!--/news-->
            </div>
        </div>
        <!--/my news-->

        <!--Products sales graph-->
        <div class="row" ng-show="isSeller">
            <div class="col-md-12 my_news">
                <div class="title_news">
                    <h2>Sales performance</h2>
                </div>
                <!--Graph-->
                <h4>Completed orders / Customers</h4>
                <div class="row news_container">
                    <canvas id="bar" width="500px" height="300px" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
                </div>
                <!--/graph-->
            </div>
        </div>
        <!--/Products sales graph-->

    </div>
    <!--/Profile-->

    <!--Content-->
    <div class="col-md-11 general_content_styles" id="contvisu" ng-show="MapOpen">
      <!--Header-->
        <div class="row">
            <div class="col-md-12 header">
                <div class="logo">
                    <a href="/"><%= image_tag "logo.png" %></a>
                </div>
            </div>
        </div>
        <!--/Header-->
             <!--Map open (for adaptive)-->
        <div class="row map_open">
            <div class="col-md-12">
                <a href="/" id="map_open">Open map</a>
            </div>
        </div>
          <!--/Map open (for adaptive)-->
        <!--search-->
        <div class="row">
            <div class="col-md-12">
                <div class="row search_block">
                    <div class="text_in_search">With this form you can find the best products near your home</div>
                    <div class="search">
                        <input type="email" class="form-control  input-sm" id="exampleInputEmail2" placeholder="Enter email" ng-model="credentials.email"/>
                    </div>
                    <a ng-click="newsletter()" class="btn btn-warning col-md-2 btn-sm">Click Here</a>
                </div>
            </div>
        </div>
        <!--/search-->
        <!--Features-->
        <div class="row features">
            <div class="col-md-6">
                <h4><i class="fa fa-map-marker" aria-hidden="true"></i>Find out where your traders are</h4>
                Geolocate real-time fruit and vegetable sellers near you
            </div>
            <div class="col-md-6">
                <h4><i class="fa fa-handshake-o" aria-hidden="true"></i>Best way of Life</h4>
                No more running around to eat healthy. Save time and improve your quality of life.
            </div>
            <div class="col-md-6">
                <h4><i class="fa fa-user-o" aria-hidden="true"></i>Sharing and Favorites</h4>
                Opportunity to share with your entourage and put in your favorites the best offers of traders.
            </div>
            <div class="col-md-6">
                <h4><i class="fa fa-money" aria-hidden="true"></i>Find out where your friends</h4>
                Because trust is the foundation of all relationships, we will never use your personal data without your consent. In addition, you can interact with the Blockchain to secure your transactions and guarantee your payments and guarantee your payments
            </div>
        </div>
        <!--/Features-->
        <!--tooltip-->
        <div class="jumbotron promo_text_line">
            <div class="container">
                <h2>There are already over 500 followers on facebook</h2>
                <p><a class="btn btn-danger btn-sm">Learn more</a></p>
            </div>
        </div>
    </div>
    <!--Content-->
    <div class="col-md-11 general_content_styles" id="contvisu" ng-if="!MapOpen" ng-show="OngletCommerce">
             <!--Map open (for adaptive)-->
        <div class="row map_open">
            <div class="col-md-12">
                <a href="/" id="map_open">Open map</a>
            </div>
        </div>
          <!--/Map open (for adaptive)-->

        <!--Commerce info-->
        <div class="container-fluid" ng-hide = "IsVisible">
            <!--div class="row"-->
            <h5 class="cat">Commerce List</h5>
            <div ng-repeat="commerce in commerces">
                <div class="col-md-4">
                    <div class="card">
                        <%= image_tag "ava1.png", class:"card-img-top" %>
                        <div class="card-body">
                            <h5 class="card-title">{{commerce.name}}</h5>
                            <p class="card-text">Commerce localisé à l'adresse {{commerce.adress1}} dans la ville de {{commerce.city}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Siren : 999 999 999 99999</li>
                            <li class="list-group-item">Etat : Actif depuis le 20/09/2017</li>
                            <li class="list-group-item">Catégorie d'établissement : Siège et établissement principal</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="ShowHide()">Show product</button>
                            <button type="button" ng-click="delCommerce(commerce)" class="btn btn-sm btn-outline-primary text-uppercase"> <i class="fas fa-trash-alt"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/div -->
        </div>

        <!--Produit info-->


        <div class="row" ng-show = "IsVisible">
            <div class="col-md-12">
                <h5 class="cat">Product List</h5>
                <div ng-repeat="produit in products track by $index">
                    <div class="card">
                        <div class="row">
                            <aside class="col-sm-5 border-right">
                                <article class="gallery-wrap"> 
                                    <div class="img-big-wrap">
                                        <%= image_tag "ava1.png" %>
                                    </div> <!-- slider-product.// -->
                                    <div class="img-small-wrap">
                                        <%= image_tag "ava1.png", class:"item-gallery" %>
                                        <%= image_tag "ava1.png", class:"item-gallery" %>
                                        <%= image_tag "ava1.png", class:"item-gallery" %>
                                        <%= image_tag "ava1.png", class:"item-gallery" %>
                                    </div> <!-- slider-nav.// -->
                                </article> <!-- gallery-wrap .end// -->
                            </aside>
                            <aside class="col-sm-7">
                                <article class="card-body p-5">
                                    <h3 class="title mb-3">{{produit.name}}</h3>
                                    <p class="price-detail-wrap"> 
                                        <span class="price h3 text-warning"> 
                                            <span class="num">{{produit.unitprice | currency}}</span>
                                        </span> 
                                        <span>/par kg</span> 
                                    </p> <!-- price-detail-wrap .// -->
                                    <dl class="item-property">
                                      <dt>Description</dt>
                                      <dd><p>Here goes description consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco </p></dd>
                                    </dl>
                                    <dl class="param param-feature">
                                      <dt>Model#</dt>
                                      <dd>12345611</dd>
                                    </dl>  <!-- item-property-hor .// -->
                                    <dl class="param param-feature">
                                      <dt>Color</dt>
                                      <dd>Black and white</dd>
                                    </dl>  <!-- item-property-hor .// -->
                                    <dl class="param param-feature">
                                      <dt>Delivery</dt>
                                      <dd>Europe</dd>
                                    </dl>  <!-- item-property-hor .// -->
                                    <hr>
                                    <button type="button" ng-click="delProduct($index)" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-trash-alt"></i> Delete</button>
                                    <button type="button" class="btn btn-primary" ng-click="ShowHide()">Show commerce</button>
                                </article> <!-- card-body.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </div> <!-- card.// -->
                    <br><br>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <!--/Produit info-->
    <!--Content-->
    <div class="col-md-11 side-bar" id="cont" ng-if="!MapOpen" ng-show="SeeSearch">
      <!--Header-->
        <div class="row">
            <div class="col-md-12 header">
                <div class="logo">
                    <a href="/">
                    Tchopmygrinds</a>
                </div>
            </div>
        </div>
        <!--/Header-->
        <!--Category menu-->
        <div class="row" ng-if="nb_produit_all > 0">
            <div class="col-md-12">
                <div id="tabs">
                    <div id="tab1" class="active tab">
                        <h5 class="cat">Find the best products</h5>
                        <ul class="catalog">
                            <li ng-repeat="record in records | searchFilter:searchParams | filter : {'result' : 'true'} | limitTo : 5 "
                                ng-class="{ 'activepoint': $index == selectedIndex}"
                                ng-click="itemClicked($index)">
                                <a ng-click="productSelected(record)"> {{record.name}} <span>{{record.unitsinstock}}</span><p class="arrow"></p></a>
                            </li>
                       </ul>
                    </div>
                </div>
            </div>
            <!--<div ng-show="records.length">No products nearby {{records.length}}</div>-->
        </div>
        
        <!--Search-->
        <div class="search_inner_box">
            <nit-advanced-searchbox ng-model="searchParams"
                                    parameters="availableSearchParams"
                                    placeholder="Vous recherchez...">
            </nit-advanced-searchbox>
            <button class="btn btn-info" ng-click="showOutput = ! showOutput">Search</button>
            <div ng-show="showOutput">
                {{searchParams}}
            </div>
        </div>
        <br>
        <!--/search-->
    </div>
    <!--Map-->
    <div ng-transclude></div>
    <!--/Map--> 
</div>